@font-face {
  font-family: 'Aptos';
  src: url('../fonts/Aptos/Aptos-Light.ttf') format('woff2'),
       url('../fonts/Aptos/Aptos-Light.ttf') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url('../fonts/Aptos/Aptos.ttf') format('woff2'),
       url('../fonts/Aptos/Aptos.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url('../fonts/Aptos/Aptos-Bold.ttf') format('woff2'),
       url('../fonts/Aptos/Aptos-Bold.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
    font-family: 'Aptos', Arial, sans-serif;
    background-color: #F0F7FF;
  }

  .padding-format {
    padding-left: 50px;
    padding-right: 50px;
  }

  .bg-hmi {
    background-color: #21A7E0;
  }

  .career .accordion-button {
    background-color: #21A7E0;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }

  .career .accordion-button:not(.collapsed) {
    background-color: #21A7E0;
    color: #fff;
  }

/* search box */
 .has-search .form-control {
    width: 50%;
    border-radius: 0;
    margin-left: 50%;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 0.5rem;
}

/* Navbar */
.first-navbar {
  background-color: #21A7E0;
  height: 48px;
}

.second-navbar {
  background-color: #fff;
}

.nav-link.custom-nav-link {
  color: #000000;
}

/* nav-link.custom-nav-link:hover {
  
} */

.nav-link.custom-nav-link.active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  background-color: #e6f8ff;
  color: #21A7E0;
  border-radius: 5px;
  margin-bottom: 3px;
  border-bottom: 1.5px solid;
}

  /* intro section */
  .intro {
    background-color: #F0F7FF;
    padding: 50px 0;
    text-align: left;
  }
  .intro h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .intro p {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .intro .h-line {
    width: 56%;
    height: 5px;
    background-color: #21A7E0;
    margin: 0 22% 0 22%;
    opacity: 100;
  }
  .btn-apply {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  .btn-apply:hover {
    background-color: #0056b3;
  }
  .navbar-nav .nav-item {
    margin-right: 20px;
  }

  .intro .element-container {
    position: relative;
    /* width: 600px; 
    height: 400px;  */
  }
  .intro .element-container .element-design img {
    width: 100%;
    height: auto;
  }
  .element {
    position: absolute;
    width: 30px;
  }
  .idea {
    top: -10%;
    left: 43%;
    transform: translateX(-50%);
  }
  .spark-1 {
    top: 10%;
    left: 20%;
  }
  .edge-computing {
    top: 35%;
    left: 15%;
  }
  .binary {
    top: 10%;
    right: 28%;
  }
  .spark-2 {
    top: 40%;
    right: 22%;
  }

  /* Course Section */
section.courses, section.activity {
  background-color: #051223;
}

section.courses .card:hover {
  background-color: white;
  box-shadow: 2px 2px 5px white;
}

section.courses .card i {
  color: #21A7E0;
  padding: 5px;
}

section.courses .card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #21A7E0;
  padding-top: 2px;
  padding-bottom: 2px;
}

section.courses .card .btn:hover {
  background-color: #21A7E0;
}

section.courses .card-1 {
  background-color: #F0F7FF;
}

section.courses .card-2 {
  background-color: #FBF3F7;
}

section.courses .card-3 {
  background-color: #E1E9F9;
}

  .logo-bullet {
    width: 38.32px;
    height: 36px;
  }

  .title-text {
    font-size: 36px;
    font-weight: 700;
    color: #21A7E0;
    margin-bottom: 0;
    padding-left: 1rem;
  }

/* Image Scroll Film */
.film-strip-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}
.film-strip {
    display: inline-block;
    animation: scroll 20s linear infinite;
}
.film-strip img {
    height: 150px;
    margin-right: 10px;
    border: 2px solid #fff;
}
@keyframes scroll {
    0% {
        transform: translateX(50%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(50%);
    }
}

/* Diversity Section */
.map-container {
  position: relative;
  width: 35rem;
  height: 38rem;
  margin-left: -5rem;
  margin-top: -3rem;
}
.map-container img {
  width: 100%;
  height: 100%;
}

.pin {
  position: absolute;
  width: 25px;
  height: 30px;
  background-image: url('../images/location-pin.png');
  background-size: cover;
  cursor: pointer;
}

.chart-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
}

/* student testimonial */
.testimonial-card {
  background-color: #f0f8ff00;
  border-radius: 15px;
  padding: 10px;
  margin: 15px 8rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.testimonial-frame {
  position: relative;
  width: 150px;
  height: 150px;
}
.testimonial-frame img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frame-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url('../images/HMI_frame.png') no-repeat center center;
  background-size: cover;
  pointer-events: none;
}

.testimonial .carousel-control-prev-icon, .carousel-control-next-icon {
  display: none; /* Hide default arrows */
}

.testimonial .carousel-control-prev, .carousel-control-next {
  background-size: contain;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.testimonial .carousel-control-prev {
  /* left: -110px; */
  width: 15%;
  height: 100%;
  background-color: transparent;
  justify-content: left;
}

.testimonial .carousel-control-next {
  /* right: -110px; */
  width: 15%;
  height: 100%;
  background-color: transparent;
  justify-content: right;
}

button .testimonial-frame {
  position: relative;
  width: 80px;
  height: 80px;
}
button .testimonial-frame img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Academic Programs Page */
.banner {
  background-image: url('../images/banner-image.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}
.banner-text {
  position: absolute;
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px;
  border-radius: 5px;
}
.content {
  background-color: rgb(227, 226, 226);
  padding: 3rem;
  max-width: 100%;
}

/* tab-content */
.tab-content {
  background-color: rgb(188, 241, 249);
}

/* footer section */
.footer-text-title {
  color: #21A7E0;
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 2rem;
}

.footer p.footer-text-italic {
  font-weight: 400;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer a {
  text-decoration: unset;
}

.footer a {
  color: black;
}

.footer .footer-link.active a {
  color: #21A7E0;
}

.footer .footer-link.active {
  display: flex;
  align-items: center;
  width: 166px;
  height: 30px;
  background-color: #e6f8ff;
  color: #21A7E0;
  border-radius: 5px;
  border-bottom: 1.5px solid;
}

.col-md-1 i.icon {
  color: #21A7E0;
}

 